@import "tailwindcss";

/* Modal Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(1.25);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.animate-scaleIn {
    animation: scaleIn 0.2s ease-out;
}

.glass-select__control {
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
}

.date-white::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

html {
  overflow-y: scroll;
}